@model List<SpdKecPornografiWeb.ViewModels.QuestionResponseDto>

<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Laporan Pertanyaan</title>
    <style type="text/css">
    
</style>
</head>
<body>
<div style="margin: auto; color: white; background-color: #006b15; text-align: center; padding: 10px 0">
    <h1>Sistem Pakar Diagnosa Tingkat <br/> Kecanduan Pornografi</h1>
</div>
<h2 style="text-align: center">Laporan Pertanyaan</h2>
<p>Dicetak: @DateTime.Now.ToString("f")</p>
<table style="border-collapse: collapse; width: 100%; border: 1px solid darkgray;">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th style="border: 1px solid darkgray; padding: 10px;">No</th>
            <th style="border: 1px solid darkgray; padding: 10px;">Kode Pertanyaan</th>
            <th style="border: 1px solid darkgray; padding: 10px;">Jawaban</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var questionResponseDto = Model[i];
            <tr>
                <td style="border: 1px solid darkgray; padding: 10px;">@(i + 1)</td>
                <td style="border: 1px solid darkgray; padding: 10px;">@questionResponseDto.QuestionCode</td>
                <td style="border: 1px solid darkgray; padding: 10px;">@questionResponseDto.QuestionName</td>
                </tr>
        }
    </tbody>
</table>
<p>Total Data: <b>@Model.Count</b></p>

</body>
</html>
